{% extends "base.html" %}
 
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">FinApp</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Немного о нас</h1>
    <p class="lead">Мы команда талантливых (и не очень) разработчиков с большим потенциалом. Данный проект - лучший выбор для управления финансами.</p>
    <p class="lead">
      <a href="/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Наш продукт</a>
    </p>
  </main>
  
  <div class="mt-auto text-white-50">
    <p></p>
  </div>
</div>
{% endblock %}
