{% extends "base.html" %}


{% block navbar %}
    <li class="nav-item"><a class="nav-link text-warning" href="/diary/">Дневник</a></li>
    <li class="nav-item"><a class="nav-link" href="/table/">Table</a></li>
    <li class="nav-item"><a class="nav-link" href="/textbook/">Учебник</a></li>
{% endblock %}

{% block content %}
    <h2>Денег: {{ amount }}</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ Transaction }}
            <input type="text" name="{{ Transaction.prefix }}" hidden>
            {{ CostCategory }}
            <input type="text" name="{{ CostCategory.prefix }}" hidden>
            {{ CostDescription }}
            <input type="text" name="{{ CostDescription.prefix }}" hidden>
        </div>
        <button class="btn btn-warning" name="Plus">Добавить</button>
        <button class="btn btn-warning" name="Minus">Убавить</button>
    </form>
    <canvas id="myChart" height="200" width="500"></canvas>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Транзакция</th>
            <th>Дата</th>
            <th>Категория</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for i in table %}
            <tr>
                {% if i.1 == "Зарплата" %}
                    <td style="color: green">+{{ i.0 }}₽</td>
                {% else %}
                    <td style="color: darkred">{{ i.0 }}₽</td>
                {% endif %}
                <td>{{ i.2 }}</td>
                <td>{{ i.3 }}</td>
                <td>{{ i.4 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block base_script %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
                integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var first_log = {{ date.0 }};
            var last_log = {{ date.1 }};
            var transaction_dates = {{ date.2 }};
        </script>
        {% load static %}
        <script src="{% static 'js/mychart.js' %}"></script>
    {% endblock %}

{% endblock %}
</html>
