<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Document</title>
</head>
<body>
<a href="/textbook/">Вернуться</a>
<form method="POST" name="form_global">
    {% csrf_token %}
    <div>
        <div>
            <ol id="questions">
                {% for question in data %}
                    <li>
                        <h5>Вопрос №{{ question.0 }}</h5>
                        <input type="text" placeholder="Ваш вопрос" name="question_{{ question.0 }}"
                               value="{{ question.1 }}" required>
                        <div>
                            <ol id="answers_{{ question.0 }}">
                                {% for answer in question.2 %}
                                    <li><input type="text" placeholder="Вариант ответа"
                                               name="answer_{{ question.0 }}_{{ answer.0 }}" value="{{ answer.1 }}"
                                               required></li>
                                {% endfor %}
                            </ol>
                            <input type="button"
                                   onclick="add_answer(document.getElementById('answers_{{ question.0 }}').childElementCount+1, {{ question.0 }}, document.getElementById('answers_{{ question.0 }}'))"
                                   value="Добавить вариант ответа">
                            <input type="button"
                                   onclick="remove_answer(document.getElementById('answers_{{ question.0 }}'))"
                                   value="Удалить вариант ответа">
                        </div>
                        <ol id="correct_answer_{{ question.0 }}">
                            {% for correct_answer in question.3 %}
                                <li><input type="text" placeholder="Правильный ответ"
                                           name="correct_answer_{{ question.0 }}_{{ correct_answer.0 }}"
                                           value="{{ correct_answer.1 }}" required></li>
                            {% endfor %}
                        </ol>
                        <input type="button"
                               onclick="add_correct_answer(document.getElementById('answers_{{ question.0 }}'),document.getElementById('correct_answer_{{ question.0 }}'))"
                               value="Добавить правильный вариант ответа">
                        <input type="button"
                               onclick="del_correct_answer(document.getElementById('correct_answer_{{ question.0 }}'))"
                               value="Удалить правильный вариант ответа">
                    </li>
                {% endfor %}
            </ol>
        </div>
        <input type="button" onclick="add_question(document.getElementById('questions').childElementCount)"
               value="Добавить новый вопрос">
        <input type="button"
               onclick="remove_question(document.getElementById('questions').lastElementChild)"
               value="Удалить вопрос">
    </div>
    <input type="submit" value="Отправить">
</form>
<script src="{% static 'js/create_exam.js' %}"></script>
</body>
</html>