<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/textbook/read/{{ articleID }}">Вернуться к уроку</a>
<h2>Тест по уроку №{{ articleID }}</h2>
<form method="POST">
    {% csrf_token %}
    {% for i in questions %}
        <div>
            <p>{{ i.2 }}</p>
            <div>
                {% for j in i.3 %}
                    {% if i.0 == True %}
                        <input type="checkbox" id="answer_{{ i.1 }}_{{ j.0 }}" name="{{ i.2 }}" value="{{ j.1 }}">
                    {% else %}
                        <input type="radio" id="answer_{{ i.1 }}_{{ j.0 }}" name="{{ i.2 }}" value="{{ j.1 }}" required>
                    {% endif %}
                    <label for="answer_{{ i.1 }}_{{ j.0 }}">{{ j.1 }}</label>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <button>Отправить</button>
</form>
</body>
</html>