{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="/diary/">Дневник</a></li>
    <li class="nav-item"><a class="nav-link" href="/profile/">Профиль</a></li>
    <li class="nav-item"><a class="nav-link" href="/table/">Table</a></li>
    <li class="nav-item"><a class="nav-link" href="/textbook/">Учебник</a></li>
{% endblock %}

{% block content %}
    <h1 class="text-center">Добро пожаловать на <i>FinApp</i></h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore eius non omnis perspiciatis quaerat soluta
    voluptatum? Amet deleniti ea error eveniet laborum maxime, officia quibusdam rem sint, sunt, ut?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore eius non omnis perspiciatis quaerat soluta
    voluptatum? Amet deleniti ea error eveniet laborum maxime, officia quibusdam rem sint, sunt, ut?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore eius non omnis perspiciatis quaerat soluta
    voluptatum? Amet deleniti ea error eveniet laborum maxime, officia quibusdam rem sint, sunt, ut?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore eius non omnis perspiciatis quaerat soluta
    voluptatum? Amet deleniti ea error eveniet laborum maxime, officia quibusdam rem sint, sunt, ut?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore eius non omnis perspiciatis quaerat soluta
    voluptatum? Amet deleniti ea error eveniet laborum maxime, officia quibusdam rem sint, sunt, ut?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore eius non omnis perspiciatis quaerat soluta
    voluptatum? Amet deleniti ea error eveniet laborum maxime, officia quibusdam rem sint, sunt, ut?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore eius non omnis perspiciatis quaerat soluta
    voluptatum? Amet deleniti ea error eveniet laborum maxime, officia quibusdam rem sint, sunt, ut?
{% endblock %}