{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="/diary/">Дневник</a></li>
    <li class="nav-item"><a class="nav-link" href="/profile/">Профиль</a></li>
    <li class="nav-item"><a class="nav-link" href="/table/">Table</a></li>
    <li class="nav-item"><a class="nav-link" href="/textbook/">Учебник</a></li>
{% endblock %}

{% block content %}
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestiae tempora? Ab accusantium ad deserunt
        dolor enim est, iure maxime nesciunt nulla numquam perferendis perspiciatis quaerat qui reiciendis rerum vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, dignissimos dolores harum ipsa numquam
        obcaecati quae tempora tenetur voluptatem. Ad doloribus illum libero magnam mollitia nobis omnis rerum sed.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestiae tempora? Ab accusantium ad deserunt
        dolor enim est, iure maxime nesciunt nulla numquam perferendis perspiciatis quaerat qui reiciendis rerum vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, dignissimos dolores harum ipsa numquam
        obcaecati quae tempora tenetur voluptatem. Ad doloribus illum libero magnam mollitia nobis omnis rerum sed.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestiae tempora? Ab accusantium ad deserunt
        dolor enim est, iure maxime nesciunt nulla numquam perferendis perspiciatis quaerat qui reiciendis rerum vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, dignissimos dolores harum ipsa numquam
        obcaecati quae tempora tenetur voluptatem. Ad doloribus illum libero magnam mollitia nobis omnis rerum sed.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestiae tempora? Ab accusantium ad deserunt
        dolor enim est, iure maxime nesciunt nulla numquam perferendis perspiciatis quaerat qui reiciendis rerum vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, dignissimos dolores harum ipsa numquam
        obcaecati quae tempora tenetur voluptatem. Ad doloribus illum libero magnam mollitia nobis omnis rerum sed.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestiae tempora? Ab accusantium ad deserunt
        dolor enim est, iure maxime nesciunt nulla numquam perferendis perspiciatis quaerat qui reiciendis rerum vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, dignissimos dolores harum ipsa numquam
        obcaecati quae tempora tenetur voluptatem. Ad doloribus illum libero magnam mollitia nobis omnis rerum sed.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, molestiae tempora? Ab accusantium ad deserunt
        dolor enim est, iure maxime nesciunt nulla numquam perferendis perspiciatis quaerat qui reiciendis rerum vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, dignissimos dolores harum ipsa numquam b
        dolor enim est, iure maxime nesciunt nulla numquam perferendis perspiciatis quaerat qui reiciendis rerum vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, dignissimos dolores harum ipsa numquam
        obcaecati quae tempora tenetur voluptatem. Ad doloribus illum libero magnam mollitia nobis omnis rerum sed.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, architecto asperiores doloremque excepturi id in
        molestiae nam necessitatibus numquam obcaecati officiis pariatur quod tenetur voluptates voluptatum! Consequatur
        modi rem veritatis.
    </div>
{% endblock %}