<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="../..">Вернуться назад</a>
{% if article.9 == user or user == '1' %}
    <div>
        <a href="edit/">Редактировать статью</a>
        <a href="/textbook/exam/{{ article.8 }}/edit/">Редактировать экзамен</a>
    </div>
{% endif %}
<h2>{{ article.0 }}</h2>
<h5>
    <div>Посещений: {{ article.5 }}</div>
    <div>Лайков: {{ article.6 }}</div>
    <div>Дизлайков: {{ article.7 }}</div>
</h5>
<section>{{ article.1 }}</section>
<h4>
    <div>Написал: {{ article.2 }}</div>
    <div>Создано: {{ article.3 }}</div>
    <div>Обновлено: {{ article.4 }}</div>
</h4>
<a href="/textbook/exam/{{ article.8 }}">Пройти экзамен</a>
</body>
</html>