<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport"
 content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Profile</title>
</head>
<body>
{% for i in data %}
 <div>{{ i.0 }}: {{ i.1 }}</div>
{% endfor %}
<h4>Баланс: {{ amount }} $</h4>
<dl>
  <table>
  <colgroup>
    <col style="background:Olive">
    <col style="background-color:OliveDrab">
  </colgroup>
  <tr>
    <th>Советы</th>
    <th>Цели</th>
  </tr>
  <tr>
    <td>Ведите бюджет ежедневно.</td>
    <td>Закрыть кредитную карту.</td>
  </tr>
  <tr>
    <td>Сберегайте часть доходов сразу при их получении.</td>
    <td>Сделать ремонт, купить бытовую технику или электронику.</td>
  </tr>
  <tr>
    <td>Формируйте неприкосновенный запас средств.</td>
    <td>Порадовать себя чем-то приятным.</td>
  </tr>
  <tr>
    <td>Не стоит отказываться от запланированных трат.</td>
    <td>Сформировать подушку безопасности.</td>
  </tr>
</table>
</dl>
<br>

<a href="../">Назад</a>
</body>
</html>
