{% extends "base.html" %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link" href="/diary/">Дневник</a></li>
    <li class="nav-item"><a class="nav-link" href="/profile/">Профиль</a></li>
    <li class="nav-item"><a class="nav-link text-warning" href="/table/">Table</a></li>
    <li class="nav-item"><a class="nav-link" href="/textbook/">Учебник</a></li>
{% endblock %}

{% block content %}

    <h4>Баланс: {{ amount }} $</h4>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ Purpose }}
            <input type="text" name="{{ Purpose.prefix }}" hidden>
        </div>
        <button class="btn btn-warning" name="Plus">Добавить</button>
    </form>
    <canvas id="myChart" height="200" width="500"></canvas>

    {% for i in data %}
        <div>{{ i.0 }}: {{ i.1 }}</div>
    {% endfor %}

    <h4>Цели: {{ purpose_text }} </h4>

    <dl>
        <table>
            <colgroup>
                <col style="background:Olive">
                <col style="background-color:OliveDrab">
            </colgroup>
            <tr>
                <th>Советы</th>
                <th>Цели</th>
            </tr>
            <tr>
                <td>Ведите бюджет ежедневно.</td>
                <td>Закрыть кредитную карту.</td>
            </tr>
            <tr>
                <td>Сберегайте часть доходов сразу при их получении.</td>
                <td>Сделать ремонт, купить бытовую технику или электронику.</td>
            </tr>
            <tr>
                <td>Формируйте неприкосновенный запас средств.</td>
                <td>Порадовать себя чем-то приятным.</td>
            </tr>
            <tr>
                <td>Не стоит отказываться от запланированных трат.</td>
                <td>Сформировать подушку безопасности.</td>
            </tr>
        </table>
    </dl>
    <br>
{% endblock %}
