<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="../">Вернуться на главную</a>
<br>
<a href="create/">Создать статью</a>
<div style="display: flex; padding: 10px 0;">
    {% for article in articles %}
        <div style="border: solid 1px; max-width: 400px; margin: 0 10px; padding: 10px">
            <h2>{{ article.9 }}</h2>
            <h4>Написал статью: {{ article.1 }}
                <br>
                <time>Создана: {{ article.3 }}</time>
                <br>
                <time>Последнее обновление: {{ article.4 }}</time>
            </h4>
            <a href="read/{{ article.0 }}">Прочитать</a>
        </div>
    {% endfor %}
</div>
</body>
</html>